@font-face{
	font-family: pacifico;
	src: url(fonts/Pacifico-Regular.ttf) format(truetype);
	/*font-weight: bolder;*/
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.row{
	float: left;
}
.wrapper{
	width: 100%;
	height: auto;
	/*background-color: blue;*/
}
#header-menu{
	width: 100%;
	background-color: #999999;
	min-height: 40px;
	float: left;
}
#header-menu ul{
	list-style-type: none;
	float: right;
	margin-right: 150px;
}
#header-menu ul li{
	float: left;
}
#header-menu ul li a{
	line-height: 40px;
	/*display: block;*/
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	margin: 2px;
}

/*menu bar starts from here */

/*.navmenu{
	width: 100%;
	height: 80px;
	background-color: green;
}
.navmenu .brand{
	width: 20%;
	height: 100%;
	background-color: grey;
}
.navmenu .*/
.navmenu{
	height: 80px;
	width: 100%;
	background: #ffffff;
	float: left;

}
.navmenu .brand{
	height: 80px;
	width: 20%;
	/*background-color: blue;*/
	float: left;
	padding: 5px 120px;
}
.navmenu .brand a{
	border: 5px solid brown;
	box-shadow: 5px 5px darkgrey;
	border-style: groove;
	padding: 5px;
	text-decoration: none;
	font-size: 30px; 
	display: inline-block;
	z-index: 3;
	transition: all 3s;

  }
  .navmenu .brand a:hover{
  	background-color: rgb(224,221,120);
  	transform: rotateY(360deg);
  }

.brandcss{
	font-family: 'Sofia', cursive;

}
.navmenu .navmenu-nav{
	width: 80%;
	height: 80px;
	/*background-color: green;*/
	float: left;
}
.navmenu .navmenu-nav ul{
	float: right;
	list-style-type: none;
}

.navmenu .navmenu-nav ul li{
	float: left;
	margin: 25px 18px;
	position: relative;
}
.navmenu .navmenu-nav ul li a{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	padding: 10px;
	text-decoration: none;
}
.navmenu .navmenu-nav ul li a.active{
	border-radius: 2px;
	background-color: #4CCB64;
}
.navmenu .navmenu-nav ul li a:hover{
	border-radius: 2px;
	background-color: #999999;
	color: #fff;
}
.slider{
	width: 100%;	
	height: 515px;
	overflow: hidden;
	/*background-color: blue;*/
}

.productslist{
	width: 100%;
	min-height: 700px;
	/*background-color: blue;*/
	padding: 40px 80px 40px 80px;
}
.product-category-list{
	width: 100%;
	height: 55px;
	/*background-color: green;*/
	/*overflow: hidden;*/
	/*border-bottom: 1px solid grey;*/
}
.product-category-list h3{
	display: inline-block;
	float: left;
	color: #333333;
}
.product-category-list ul{
	list-style-type: none;
	margin-left: 250px;
	padding-top: 25px;
}
.product-category-list ul li{
	float: left;
	border-right: 1px solid grey;
}
.product-category-list ul li a{
	/*display: inline-block;*/
	padding: 30px;
	color: #333333;
	text-decoration: none;
}
.product-category-list ul li:nth-child(4){
	border-right: 0px;
}
.product-category-list ul li:last-child{
	border-right: 0px;

	padding-left:155px;
}
.product-border-bottom-img{
	float: left;
	width: 100%:;
}
.product-list{
	width: 100%;
	height: 300px;
	/*background-color: green;*/
	/*overflow: hidden;*/
	float: left;	
	/*padding: 20px 40px 30px 0px;	*/
	/*margin-bottom: 20px;*/
}
.product1{
	width: 24%;
	height: 100%;
	float: left;
	margin-right: 1%;

}
.product1 img{
	width: 100%;
	height: 300px;
	margin-right: 1px;
}
.social-activity{
	width: 100%;
	height: 400px;
	/*background-color: blue;*/
	margin-top: 15px;
	float: left;
}
.social-activity .video-bar{}
.social-activity .news{}
.social-activity .exhibition{}